
<h1> Cria a tua vida jeKer</h2>

    <form action="/dividas/" method="POST">
    <div>
            <label for="credor">Quem quer?</label>
            <input type="credor" name="credor" placeholder="Quem quer" />
            <label>(@jeknowledge.com)</label>
    </div>

    <div>
            <label for="devedor">Quem deve?</label>
            <input type="devedor" name="devedor" placeholder="Quem deve" />
            <label>(@jeknowledge.com)</label>
        </div>

    <div>
        <label for="quantia">Quantia:</label>
        <input type="quantia" name="quantia" placeholder="Quantia de Dividia" />
        <label>(€)</label>
    </div>

    <div>
        <p for="descricao">Descrição</p>
        <textarea id="descricao" name="descricao" placeholder="Comenta a tua divida"></textarea>      </div>
    
    <button type="submit" class="btn btn-primary btn-block">Criar</button>
    
</form>

