<h2>Elimina Divida jeK</h2>

<form action="dividas/eliminadivida" method="POST">
        <div>
            <label for="dividaID">Id Divida</label>
            <input type="dividaID" name="dividaID" placeholder="dividaID" />
        </div>
</form>