<h1>Bem vindos</h1>

<div class="dividas_buttons">
    <div class="titulo_dividas_jek">
        <h1>Dividas jeKnowledge</h1>
    </div>
    <ul>
    <div class="dividas">

      <div class = "criar/eliminar_dividas">

      <p>Alguem te deve dinheiro ? Pede-o <a href="/dividas/create">aqui</a></p>
      <p>Já te devolveram o dinheiro?<a href="/dividas/deletedivida">Apaga a tua divida</a></p>

    </div>


      <form form action="/dividas/getall" method="GET">
        <dt>
       <li><button class="button_pag" onclick="myFunction('painel-0')">Dividas Totais</button></li>
        </dt>
        <dd id="painel-0" class="transicao"> 
        </dd>
      </form>

      <form form action="/dividas/Intern" method="GET">
        <dt>
       <li><button class="button_pag" onclick="myFunction('painel-0')">Dividas Intern</button></li>
        </dt>
        <dd id="painel-1" class="transicao"> 
        </dd>
      </form>

      <form form action="/dividas/Innovation" method="GET">
        <dt>
       <li><button class="button_pag" onclick="myFunction('painel-0')">Dividas Innovation</button></li>
        </dt>
        <dd id="painel-2" class="transicao"> 
        </dd>
      </form>


      <form form action="/dividas/Tech" method="GET">
        <dt>
       <li><button class="button_pag" onclick="myFunction('painel-0')">Dividas Tech</button></li>
        </dt>
        <dd id="painel-3" class="transicao"> 
        </dd>
      </form>



      <form form action="dividas/users" method="GET">
        <dt>
       <li><button class="button_pag" onclick="myFunction('painel-0')">Minhas Dividas</button></li>
        </dt>
        <dd id="painel-1" class="transicao"> 
        </dd>
      </form>  
            

  </ul>
</div>


<a href="logout">Logout</a>



<!-- 
  <script>
        function myFunction(id) {
          var x = document.getElementById(id);
          console.log(x.style.display);
          if (x.style.display === "none" || !x.style.display) {
            
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }a
    </script> -->