<h1>Bem vindos</h1>

<div class="dividas_buttons">
    <div class="titulo_dividas_jek">
        <h3>Dividas jeKnowledge</h3>
    </div>
    <ul>
    <div class="dividas">


      <form form action="/dividas/ativas" method="GET">
        <dt>
       <li><button class="button_pag" onclick="myFunction('painel-0')">Dividas Totais</button></li>
        </dt>
        <dd id="painel-0" class="transicao"> 
        </dd>
      </form>

      <form form action="/dividas/Intern" method="GET">
        <dt>
       <li><button class="button_pag" onclick="myFunction('painel-1')">Dividas Intern</button></li>
        </dt>
        <dd id="painel-1" class="transicao"> 
        </dd>
      </form>

      <form form action="/dividas/Innovation" method="GET">
        <dt>
       <li><button class="button_pag" onclick="myFunction('painel-2')">Dividas Innovation</button></li>
        </dt>
        <dd id="painel-2" class="transicao"> 
        </dd>
      </form>


      <form form action="/dividas/Tech" method="GET">
        <dt>
       <li><button class="button_pag" onclick="myFunction('painel-3')">Dividas Tech</button></li>
        </dt>
        <dd id="painel-3" class="transicao"> 
        </dd>
      </form>

      <form form action="/dividas/user" method="GET">
        <dt>
       <li><button class="button_pag" onclick="myFunction('painel-4')">As Minhas Dividas</button></li>
        </dt>
        <dd id="painel-4" class="transicao"> 
        </dd>
      </form>

      <form form action="/dividas/inativas" method="GET">
        <dt>
       <li><button class="button_pag" onclick="myFunction('painel-5')">Histórico</button></li>
        </dt>
        <dd id="painel-5" class="transicao"> 
        </dd>
      </form>

  </ul>
</div>


<a href="users/logout">Logout</a>



<!-- 
  <script>
        function myFunction(id) {
          var x = document.getElementById(id);
          console.log(x.style.display);
          if (x.style.display === "none" || !x.style.display) {
            
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }a
    </script> -->