<h1>Bem vindos</h1>

<div class="dividas_buttons">
    <div class="titulo_dividas_jek">
        <h1>Dividas jeKnowledge</h1>
</div>
    <ul>
    <div class="dividas">

      <form form action="/dividas/getall" method="GET">
        <dt>
       <li><button class="button_pag" onclick="myFunction('painel-0')">Dividas Totais</button></li>
          <div class="lista_dividas_totais">
            
          </div>
        </dt>
        <dd id="painel-0" class="transicao"> 
        </dd>
      </form>


      <from form action="/dividas/" method="GET">
        <dt>
            <li><button class="button_pag" onclick="myFunction('painel-1')">Dividas Por Departamento</button></li>

                  <from form action="/dividas/intern" method="GET">
                      <dt>
                          <li><button class="button_pag" onclick="myFunction('painel-1')">Dividas Interno</button></li>

                          <div class="lista_dividas_intern">
            
                          </div>

                      </dt>
                          <dd id="painel-1.1" class="transicao"></dd>
                  </from>

                  <from form action="/dividas/innovation" method="GET">
                      <dt>
                          <li><button class="button_pag" onclick="myFunction('painel-1')">Dividas Inovação</button></li>

                          <div class="lista_dividas_innovation">
            
                          </div>

                      </dt>
                          <dd id="painel-1.2" class="transicao"></dd>
                  </from> 

                  <from form action="/dividas/tech" method="GET">
                      <dt>
                          <li><button class="button_pag" onclick="myFunction('painel-1')">Dividas Tech</button></li>

                          <div class="lista_dividas_tech">
                              
                          </div>

                      </dt>
                          <dd id="painel-1.3" class="transicao"></dd>
                  </from> 
        </dt>
            <dd id="painel-1" class="transicao"></dd>
      </from>      


      <from>
            <dt>
                <li><button class="button_pag" onclick="myFunction('painel-2')">As Tuas Dividas</button></li>
            </dt>
            <dd id="painel-2" class="transicao"></dd>
      </from>      
            
    </div>
  </ul>
</div>

<a href="/users/logout">Logout</a>


  <script>
        function myFunction(id) {
          var x = document.getElementById(id);
          console.log(x.style.display);
          if (x.style.display === "none" || !x.style.display) {
            
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }a
    </script>