<h1>Login</h1>


<form action="/users/login" method="POST">
  <div>
    <label for="email">E-mail</label>
    <input type="email" name="email" placeholder="Enter E-mail" />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Enter Password" />
  </div>

  <button type="submit" class="btn btn-primary btn-block">Login</button>
</form>

<p>Não tens conta? <a href="signup">Signup</a></p>
