@font-face {
  font-family: fonteTitulo;
  src: url(../font/SuisseIntlCond-Medium-WebS.woff);
}

@font-face {
  font-family: fonteLabel;
  src: url(../font/SuisseIntlCond-Semibold-WebS.woff);
}
@font-face {
  font-family: fontenormal;
  src: url(../font/SuisseIntlCond-Thin-WebS.woff);
}

.button {
  font-family: fonteLabel;
  position: relative;
  width: 35%;
  height: 5vh;
  margin-left: 32.5vw;
  margin-top: 5vh;
  font-size: 2vh;
  letter-spacing: 0.01em;

  background: #f08a6e;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  outline: none;
  color: #ffffff;
}

.LoginStr {
  right: 12.5%;
  width: 60%; /* 35*2 */
  background: #ffffff;
  color: #f08a6e;
}
.RegistarStr {
  left: 12.5%;
  width: 60%;
  background: #f08a6e;
  color: #ffffff;
}
