.button {
  font-family: fonteLabel;
  position: relative;
  width: 35%;
  height: 5vh;
  margin-left: 32.5vw;
  margin-top: 5vh;
  font-size: 2vh;
  letter-spacing: 0.01em;
  background: #f08a6e;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  outline: none;
  color: #ffffff;
}

@media (min-width: 500px) and (max-width: 650px) {
  .button {
    width: 25%;
    margin-left: 37vw;
  }
}

@media (min-width: 650px) and (max-width: 960px) {
  .button {
    width: 20%;
    margin-left: 40vw;
  }
}
