@font-face {
  font-family: fonteTitulo;
  src: url(../font/SuisseIntlCond-Medium-WebS.woff);
}

@font-face {
  font-family: fonteLabel;
  src: url(../font/SuisseIntlCond-Semibold-WebS.woff);
}

.criar-divida {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.criar-divida-titulo {
  position: relative;
  height: 2vh;
  top: 1vh;
  font-family: fonteTitulo;
  font-weight: bold;
  font-size: 2vh;
  text-align: center;
  letter-spacing: 0.01em;
  color: #3e3c39;
}

.descricao-label {
  position: relative;
  font-family: fonteLabel;
  font-weight: 550;
  font-size: 2.1vh;
  display: flex;
  color: #3e3c39;
  margin-left: 17%;
  height: 3.5vh;
}

.input-descricao {
  position: relative;
  font-family: fontenormal;
  width: 67%;
  height: 15vh;
  margin-left: 14%;
  padding-left: 4vw;
  padding-top: 2vh;
  font-size: 2vh;
  letter-spacing: 0.01em;
  resize: none;
  background: #ffffff;
  white-space: pre-wrap;
  outline: none;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  border: #ffffff;
  color: #3A3B3C;
}

.button-criar-divida {
  margin-bottom: 4vh;
}

/* remove spin wheel input numbers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
/* posições */
.credor-css {
  margin-top: 7vh;
  height: 11.5vh;
}

.devedor-css {
  height: 11.5vh;
}

.quantia-css {
  height: 11.5vh;
}

.descricao-css {
  height: 24vh;
}

.sidebar-mobile {
  display: none;
}

.devedoresWatermark {
  font-family: fontenormal;
  font-weight: 300;
  font-size: 12px;
  margin-top: 2%;
  margin-left: 18%;
  display: inline;
  letter-spacing: 0.01em;
  width: 67%;

  color: #cecdcc;
}

.error-create-div {
  color: #f08a6e;
  margin: 2% 0% 0% 18%;
}

@media (min-width: 961px) {
  .sidebar-mobile {
    display: block;
    width: 20%;
  }

  .topbar-mobile {
    display: none;
  }

  .criar-divida-titulo {
    margin-left: 17vw;
    font-size: 2.5vh;
  }

  .labelInput {
    width: 100%;
  }

  .labelInput label {
    height: 3.5vh;
  }

  .inputs-criar-divida {
    display: flex;
    margin-bottom: 1vh;
  }

  .labelInput input {
    height: 6vh;
    width: 27vw;
    padding-left: 1.5vw;
  }

  .credor-css {
    margin-top: 18vh;
  }

  .credor-css,
  .devedor-css,
  .quantia-css {
    margin-left: 22.5vw;
    height: 14vh;
    width: 100%;
  }

  .descricao-css {
    margin-top: 18vh;
    margin-left: 7vw;
    width: 27vw;
  }

  .descricao-label {
    height: 3.5vh;
  }

  .input-descricao {
    width: 100%;
    height: 32vh;
    padding-left: 1vw;
    padding-top: 2vh;
  }

  .button-criar-divida {
    width: 27%;
    margin-left: 22vw;
  }
}
