@font-face {
    font-family: fonteTitulo;
    src: url(../font/SuisseIntlCond-Medium-WebS.woff);
  }

@font-face {
    font-family: fonteLabel;
    src: url(../font/SuisseIntlCond-Semibold-WebS.woff);
}

.criar-divida{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

  /* estilos */

.criar-divida-titulo {
    position: relative;
    width: 100%;
    height: 100%;
    top: 4vh;
    font-family: fonteTitulo;
    font-style: normal;
    font-weight: bold;
    font-size: 4vw;
    text-align: center;
    letter-spacing: 0.01em;
    color: #3E3C39;
}


.descricao-label{
    position: relative;
    font-family: fonteLabel;
    font-weight: 550;
    font-size: 4.5vw;
    display: flex;
    color: #3E3C39;

    left: 16%;
    height: 3.5vh;
}

.input-descricao {
    position: relative;
    width: 67%;
    height: 25vh;
    left: 12.5%;
    padding-left: 2.5vh;
    padding-top: 2vh;
    font-size: 3.5vw;
    display: flex;
    letter-spacing: 0.01em;
    resize: none;
    background: #FFFFFF;
    white-space: pre-wrap;
    outline: none;

    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    border: #ffffff;
    
    color: #AEADAA;
}


/* remove spin wheel input numbers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type="number"] {
   -moz-appearance: textfield;
}

/* posições */
.credor-css {
    margin-top: 15%;
    height: 11.5vh;
}

.devedor-css {
    height: 11.5vh;
}

.quantia-css {
    height: 11.5vh;
}


.popup .popupzito {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  width: 311px;
  height: 270px;
  left: calc(50% - 311px/2 + 1px);
  top: 290px;

  background: #FFFFFF;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
}

.popuptext{
  visibility: hidden;
  color: #F08A6E;
  z-index: 2;
  position: absolute;
  font-family: fonteLabel;
  font-size: 7vw;
  line-height: 26px;
  width: 311px;
  height: 43px;
  top: 336px;
  margin-left: 11.2%;
}

.circle {
  visibility: hidden;
  position: absolute;
  z-index: 2;
  width: 85px;
  height: 85px;
  left: 150px;
  top: 410px;
  border-radius: 50%;

  background-color: #F08A6E;
}

.check {
  visibility: hidden;
  position: absolute;
  z-index: 3;
  width: 15.56px;
  height: 34.18px;
  transform: rotate(45deg);
  border-bottom: 7px solid #FFFFFF;
  border-right: 7px solid #FFFFFF;
  left: 48.5%;
  bottom: 42%;
}

.circle:hover{
  cursor:pointer;
}
.check:hover{
  cursor:pointer;
}


/* hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.popuptext .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.circle .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.check .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* hide and show the popup */
.popup .hide {
  visibility: hidden;
  -webkit-animation: fadeOut 1s;
  animation: fadeOut 1s;
}

.popuptext .hide {
  visibility: hidden;
  -webkit-animation: fadeOut 1s;
  animation: fadeOut 1s;
}

.circle .hide {
  visibility: hidden;
  -webkit-animation: fadeOut 1s;
  animation: fadeOut 1s;
}

.check .hide {
  visibility: hidden;
  -webkit-animation: fadeOut 1s;
  animation: fadeOut 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

@-webkit-keyframes fadeOut {
  from {opacity: 1;} 
  to {opacity: 0;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}