@font-face {
  font-family: fonteTitulo;
  src: url(../font/SuisseIntlCond-Medium-WebS.woff);
}

@font-face {
  font-family: fonteLabel;
  src: url(../font/SuisseIntlCond-Semibold-WebS.woff);
}
@font-face {
  font-family: fontenormal;
  src: url(../font/SuisseIntlCond-Thin-WebS.woff);
}
html {
  overflow: hidden;
}
.dividasshow {
  position: absolute;
  width: 100%;
  height: 200%;
}
.caixa {
  position: relative;
  width: 80%;

  height: 25vh;
  margin-top: 2vh;
  left: 11.5%;
  display: inline-block;
  justify-content: center;
  align-items: center;

  font-size: 3.5vw;
  letter-spacing: 0.01em;

  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  border: none;
  cursor: none;
  outline: none;
}

.Ino {
  color: #fcc17a;
}

.Int {
  color: #f05b78;
}

.Tech {
  color: #51a450;
}

.titulo {
  position: relative;
  text-align: center;
  margin: auto;
  margin-top: 1%;
  width: 80%;
  transform: translate(0%, 100%);

  justify-content: center;
  text-align: center;
  align-items: center;

  font-family: fonteTitulo;
  font-style: normal;
  font-weight: 600;
  font-size: 175%;
  line-height: 23px;
  letter-spacing: 0.01em;

  /* sombra base */

  text-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
}

.textIno,
.textInt,
.textTech {
  margin-top: 3%;
  margin-left: 25%;
  position: relative;
  right: 3%;
  display: inline-block;
  font-family: fonteTitulo;
  font-style: normal;
  font-weight: 900;
  font-size: 2.5vh;
  line-height: 100%;
  align-items: center;
  letter-spacing: 0.01em;
}

.p {
  margin-bottom: 40%;
}

.color1 {
  color: #fcc17a;
}
.color2 {
  color: #f05b78;
}
.color3 {
  color: #51a450;
}

.textTech,
.textIno,
.textoInt {
  color: black;
}

@media (min-width: 600px) {
  .dividas-globais-titulo {
    position: relative;
    height: 5vh;
    width: 30%;
    top: 8vw;
    font-family: fonteTitulo;
    font-weight: bold;
    font-size: 2vh;
    left: 30.5%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #3e3c39;
  }
  .partecima {
    margin-top: 7%;
  }
  .caixa {
    position: relative;
    font-family: fontenormal;
    width: 20%;

    height: 15vw;
    left: 0%;
    display: inline-block;
    justify-content: center;
    align-items: center;

    font-size: 3.5vw;
    letter-spacing: 0.01em;

    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    border: none;
    cursor: pointer;
    outline: none;

    margin-top: 6%;
  }
  .textIno,
  .textInt,
  .textTech {
    margin-top: 5%;
    margin-left: 25%;
    position: relative;
    left: -5%;
    display: inline-block;
    font-family: fonteTitulo;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5vw;
    line-height: 100%;
    align-items: center;
    letter-spacing: 0.01em;
  }
  .titulo {
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    width: 80%;
    transform: translate(0%, 125%);

    justify-content: center;
    text-align: center;
    align-items: center;

    font-family: fonteTitulo;
    font-style: normal;
    font-weight: 600;
    font-size: 44%;
    white-space: nowrap;
    line-height: 23px;
    letter-spacing: 0.01em;

    /* sombra base */

    text-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
  }
  .box1 {
    position: relative;
    left: 40%;
  }
  .box2 {
    left: 45%;
  }
  .box3 {
    left: 52.5%;
    top: -65%;
  }
}
