html {
  overflow: hidden;
}
.dividasshow {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0%;
}
.caixa {
  position: relative;
  width: 80%;

  height: 25vh;
  margin-top: 2vh;
  left: 11.5%;
  display: inline-block;
  justify-content: center;
  align-items: center;

  font-family: fontenormal;
  font-size: 3.5vw;
  letter-spacing: 0.01em;

  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  border: none;
  cursor: none;
  outline: none;
}

.Ino {
  color: #fcc17a;
  height: 30%;
}

.Int {
  color: #f05b78;
  height: 30%;
}

.Tech {
  color: #51a450;
  height: 30%;
}

.titulo {
  white-space: nowrap;
  position: relative;
  text-align: center;
  margin: auto;
  margin-top: 1%;
  width: 80%;
  transform: translate(0%, 100%);

  justify-content: center;
  text-align: center;
  align-items: center;

  font-family: fonteTitulo;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5vh;
  line-height: 23px;
  letter-spacing: 0.01em;

  /* sombra base */

  text-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
}

.textIno,
.textInt,
.textTech {
  color: black;
  white-space: nowrap;
  margin-top: 3%;
  margin-left: 25%;
  position: relative;
  right: 3%;
  display: inline-block;
  font-family: fonteTitulo;
  font-style: normal;
  font-size: 2.5vh;
  line-height: 50%;
  align-items: center;
  letter-spacing: 0.01em;
}

.p {
  margin-bottom: 40%;
}

.color1 {
  color: #fcc17a;
}
.color2 {
  color: #f05b78;
}
.color3 {
  color: #51a450;
}

.dividas-globais-titulo {
  position: relative;
  height: 5vh;
  width: 100%;
  margin-top: 2vh;
  font-family: fonteTitulo;
  font-weight: bold;
  font-size: 2vh;
  left: 0%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #3e3c39;
}

@media (min-width: 961px) {
  .dividas-globais-titulo {
    width: 70%;
    top: 8vw;
    left: 27.5%;
  }

  .partecima {
    margin-top: 7%;
  }

  .caixa {
    width: 20%;

    height: 15vw;
    left: 0%;

    margin-top: 6%;
  }

  .textIno,
  .textInt,
  .textTech {
    margin-top: 5%;
    left: -5%;
    font-size: 1.5vw;
    line-height: 100%;
  }

  .titulo {
    transform: translate(0%, 125%);

    font-size: 44%;
  }

  .box1 {
    position: relative;
    left: 40%;
  }
  .box2 {
    left: 45%;
  }
  .box3 {
    left: 52.5%;
    top: -65%;
  }
}
