@font-face {
    font-family: fonteTitulo;
    src: url(../font/SuisseIntlCond-Medium-WebS.woff);
}
  
@font-face {
    font-family: fonteLabel;
    src: url(../font/SuisseIntlCond-Semibold-WebS.woff);
}
@font-face {
    font-family: fontenormal;
    src: url(../font/SuisseIntlCond-Thin-WebS.woff);
}

* {
  font-family: fonteLabel;
}