/*.App {
  text-align: center;
}*/

@font-face {
  font-family: "Suisse_Int_l";
  src: url(../font/SuisseIntlCond-Semibold-WebS.woff);
}

/* -------------- Front Page -------------------*/
#Background {
  /* background */

  position: absolute;
  width: 375px;
  height: 812px;
  left: 0px;
  top: 0px;

  background: radial-gradient(179.64% 179.64% at 50% 50%, #FCC582 0%, #F08A6E 100%);
}

.App-logo {
  /* logo*/
  position: relative;
  width: 85%;
  height: auto;
  left: 43%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 303px;
  display: block;
  margin: auto;
  /* sombra base */

  filter: drop-shadow(4px 4px 25px rgba(0, 0, 0, 0.1));
}

#Butoes {
  position: absolute;
 
  margin-top: 70vh;
  display: flex;
}
