/* -------------- Front Page -------------------*/
.buttonsHomePage {
  font-family: fonteLabel;
  position: relative;
  width: 100%;
  height: 5vh;
  left: 0%;
  font-size: 2vh;
  letter-spacing: 0.02em;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  outline: none;
  color: #ffffff;
}

@media (min-width: 961px) {
  #Background {
    /* background */

    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    background: radial-gradient(
      179.64% 179.64% at 50% 50%,
      #fcc582 0%,
      #f08a6e 100%
    );
  }
  #btns {
    position: relative;
    top: 50vh;
    min-height: 50vh;
    left: 0%;
    display: inline-flex;

    width: 100%;
  }
  .App-logo-mainmenu {
    /* logo*/
    position: relative;
    width: 45%;
    height: auto;
    left: 0%;
    top: 30%;
    display: block;
    margin: auto;
    /* sombra base */

    filter: drop-shadow(4px 4px 25px rgba(0, 0, 0, 0.1));
  }
  .buttonsHomePage {
    left: 0%;
    width: 100%;
  }

  #btns a {
    width: 16%; /* mudar a width aqui */
    height: 100%;
    left: 33.5%; /*mudar o left aqui */
    margin-right: 2.5%;
  }

  .LoginStr {
    width: 100%; /* 35*2 */
    background: #ffffff;
    color: #f08a6e;
  }

  .RegistarStr {
    left: 0%;
    width: 100%;
    background: #f08a6e;
    color: #ffffff;
  }
}

@media (min-width: 400px) and (max-width: 960px) {
  #Background {
    /* background */

    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    background: radial-gradient(
      179.64% 179.64% at 50% 50%,
      #fcc582 0%,
      #f08a6e 100%
    );
  }

  .App-logo-mainmenu {
    /* logo*/
    position: relative;
    width: 80%;
    height: auto;
    left: 0%;
    top: 30%;
    display: block;
    margin: auto;
    /* sombra base */

    filter: drop-shadow(4px 4px 25px rgba(0, 0, 0, 0.1));
  }

  #btns {
    position: relative;
    top: 50vh;
    min-height: 50vh;
    left: 0%;
    display: inline-flex;

    width: 100%;
  }

  .buttonsHomePage {
    left: 0%;
    width: 100%;
  }

  #btns a {
    width: 30%; /* mudar a width aqui */
    height: 100%;
    left: 25%; /*mudar o left aqui */
    margin-right: 0%;
  }
  .LoginStr {
    width: 70%; /* 35*2 */
    background: #ffffff;
    color: #f08a6e;
  }

  .RegistarStr {
    left: 0%;
    width: 70%;
    background: #f08a6e;
    color: #ffffff;
  }
}
@media (min-width: 100px) and (max-width: 400px) {
  #Background {
    /* background */

    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    background: radial-gradient(
      179.64% 179.64% at 50% 50%,
      #fcc582 0%,
      #f08a6e 100%
    );
  }

  .App-logo-mainmenu {
    /* logo*/
    position: relative;
    width: 85%;
    height: auto;
    left: 43%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 36%;
    display: block;
    margin: auto;
    /* sombra base */

    filter: drop-shadow(4px 4px 25px rgba(0, 0, 0, 0.1));
  }

  #btns {
    position: relative;
    top: 50vh;
    min-height: 50vh;
    left: 0%;
    display: inline-flex;

    width: 100%;
  }

  .buttonsHomePage {
    left: 35%;
    width: 100%;
  }

  #btns a {
    width: 25%; /* mudar a width aqui */
    height: 100%;
    left: 14%; /*mudar o left aqui */
    margin-right: 15%;
  }
  .LoginStr {
    width: 100%; /* 35*2 */
    background: #ffffff;
    color: #f08a6e;
  }

  .RegistarStr {
    left: 0%;
    width: 100%;
    background: #f08a6e;
    color: #ffffff;
  }
}
