@font-face {
    font-family: fonteLabel;
    src: url(../font/SuisseIntlCond-Semibold-WebS.woff);
}

.labelInput label{
    position: relative;
    font-family: fonteLabel;
    font-weight: 550;
    font-size: 16px;
    display: flex;
    outline: none;
    color: #3E3C39;

    left: 16%;
    height: 3.5vh;
    
}

.labelInput input{
    position: relative;
    width: 67%;
    height: 4vh;
    left: 12.5%;
    padding-left: 2.5vh;
    font-size: 12px;
    letter-spacing: 0.01em;
    background: #FFFFFF;
    outline: none;

    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    border: #ffffff;
    
    color: #AEADAA;

}

