@font-face {
  font-family: fonteLabel;
  src: url(../font/SuisseIntlCond-Semibold-WebS.woff);
}

.popup, .popup-criar-divida, .popup-confirmar, .popup-divida-paga {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.popupzito {
  z-index: 1;
  position: absolute;
  width: 83%;
  height: 31%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
}

.popupzito1 {
  z-index: 1;
  position: absolute;
  width: 83%;
  height: 81%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
}

.popuptext {
  color: #f08a6e;
  z-index: 2;
  position: absolute;
  font-family: fonteLabel;
  font-size: 3.5vh;
  height: 5vh;
  top: 40%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.01em;
  width: 70%;
}

.buttontext {
  color: #f08a6e;
  z-index: 2;
  position: absolute;
  font-family: fonteLabel;
  font-size: 3vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
}

.circle-div {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.circle {
  position: absolute;

  z-index: 2;
  width: 85.2px;
  height: 85.25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50.5%;
  border-radius: 50%;
  background-color: #f08a6e;
}

.check {
  position: absolute;
  z-index: 3;
  width: 16px;
  height: 38px;
  transform: rotate(45deg);
  border-bottom: 7px solid #ffffff;
  border-right: 7px solid #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 42vh;
}


@media (min-width: 375px) and (min-height: 600px)
{
  .popupzito {
    width: 311.517px;
    height: 251.717px;
  }

  .popuptext {
    width: 263.733px;
    height: 40.6px;
  }
  
}

/* hide and show the popup
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.popuptext .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.circle .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.check .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}*/

/*
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}*/

.button-yes,
.button-no {
  color: #ffffff;
  z-index: 2;
  font-family: fontenormal;
  font-size: 4.2vw;
  line-height: 190.2%;
  width: 20%;
  height: 5.3%;
  top: 41.4%;
  margin-left: 26.2%;
  background: #f08a6e;
  /* sombra base */
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  border: none;
}

.button-no {
  margin-left: 8%;
}

.div-buttons-popup {
  display: flex;
  text-align: center;
  margin-top: -103%;
}
