@font-face {
  font-family: fonteLabel;
  src: url(../font/SuisseIntlCond-Semibold-WebS.woff);
}

.popup,
.popup-criar-divida,
.popup-divida-paga {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.popup-confirmar {
  position: absolute;
  height: 200%;
  width: 100%;
  left: 50%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.popupzito {
  z-index: 1;
  position: absolute;
  width: 83%;
  height: 31%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
}

.popupzito1 {
  z-index: 1;
  position: absolute;
  width: 80%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 1px 4px 15px rgb(0 0 0 / 8%);
  border-radius: 30px;
  /* right: 17%; */
  top: 50%;
}

.popuptext {
  color: #f08a6e;
  z-index: 2;
  position: absolute;
  font-family: fonteLabel;
  font-size: 3.5vh;
  height: 5vh;
  top: 40%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.01em;
  width: 70%;
}

.buttontext {
  color: #f08a6e;
  z-index: 2;
  position: absolute;
  font-family: fonteLabel;
  font-size: 3vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  margin-top: 50%;
}

.circle-div {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.circle {
  position: absolute;

  z-index: 2;
  width: 85.2px;
  height: 85.25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50.5%;
  border-radius: 50%;
  background-color: #f08a6e;
}

.check {
  position: absolute;
  z-index: 3;
  width: 16px;
  height: 38px;
  transform: rotate(45deg);
  border-bottom: 7px solid #ffffff;
  border-right: 7px solid #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 52.5%;
}

@media (min-width: 375px) {
  .popupzito {
    width: 311.517px;
    height: 251.717px;
  }

  .popuptext {
    width: 263.733px;
    height: 40.6px;
  }
}

/**/
@media (min-width: 375px) and (min-height: 600px) {
  .popupzito {
    width: 311.517px;
    height: 251.717px;
  }

  .popuptext {
    width: 263.733px;
    height: 40.6px;
  }

}

@media (min-width: 961px) {
  .popupzito, .popuptext, .circle, .check {
    margin-left: 18vw;
  }
}

/* hide and show the popup
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.popuptext .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.circle .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.check .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}*/

/*
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}*/

.button-yes,
.button-no {
  color: #ffffff;
  z-index: 2;
  font-family: fontenormal;
  font-size: 4.2vw;
  line-height: 190.2%;
  width: 100%;
  height: 5.3%;
  background: #f08a6e;
  /* sombra base */
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  border: none;
  margin-top: 100%;
}

.button-no {
  margin-left: 8%;
}

.div-buttons-popup {
  display: flex;
  text-align: center;
  width: 40%;
  margin-top: 60%;
}
