@font-face {
    font-family: "Suisse Int'l Condensed L";
    src: url(../font/SuisseIntlCond-Semibold-WebS.woff);
}

#sbbg {

    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0px;

    background: #FCC17A;
}

.App-logo {
    position: relative;
    width: 70%;
    left: 5%;
    top: 9%;

    /* sombra base */
    filter: drop-shadow(4px 4px 25px rgba(0, 0, 0, 0.1));
}

/* criar divida btn*/
#criardivida {
    z-index: 2;
    position: relative;
    width: 100%;
    height: 8%;
    left: 0px;
    top: 8%;
    background-color: #FCC17A;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    box-sizing: border-box;
}

#criardividaSTR {
    /* Criar dívida */
    position: relative;
    width: 40%;
    height: 50%;
    top: -30%;
    left: 20%;

    font-family: "Suisse Int'l Condensed L";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}

.App-logo-plus {
    /* Criar Dívida Icone */
    position: relative;
    left: 7%;
    top: 23%;

    transform: matrix(1, 0, 0, -1, 0, 0);
}

/* ------ minhas dividas btn --------*/
#mydividasdiv {
    position: relative;
    width: 100%;
    height: 8%;
    left: 0px;
    top: 8%;
    transform-origin: top;
}

#mydividas {
    background-color: #FCC17A;
    z-index: 2;
    position: relative;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0%;

    border-bottom: 1px solid #FFFFFF;
    box-sizing: border-box;
}

#mydividasSTR {
    position: relative;
    width: 40%;
    height: 50%;
    top: -28%;
    left: 20%;

    font-family: "Suisse Int'l Condensed L";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}

#transdivsMINHASDIVIDAS {
    position: relative;
    z-index: 1;
    height: 200%;
    transition: 0.6s ease;
}

#oqdevo {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 50%;
    left: 0px;
    top: 0%;

    background: #F08A6E;
    border-bottom: 1px solid #FFFFFF;
    box-sizing: border-box;
}

#oqdevoSTR {
    position: relative;
    width: 40%;
    height: 50%;
    top: 24%;
    left: 20%;

    font-family: "Suisse Int'l Condensed L";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}

#oqdevem {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 50%;
    left: 0px;
    top: 0%;

    background: #F08A6E;
    border-bottom: 1px solid #FFFFFF;
    box-sizing: border-box;
}

#oqdevemSTR {
    position: relative;
    width: 40%;
    height: 50%;
    top: 24%;
    left: 20%;

    font-family: "Suisse Int'l Condensed L";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}

.App-logo-pessoa {
    /* Minhas Dividas Ícone */

    position: relative;
    left: 7%;
    top: 25%;

}

.App-logo-UP {
    /* Seta Baixo */

    position: relative;
    left: 88%;
    top: -70%;
    transition: 0.6s ease;
}

/* ----money button ---- */
.App-logo-Money {
    position: relative;
    left: 6.5%;
    top: 25%;
}

#dividastotaisdiv {

    position: relative;
    width: 100%;
    height: 8%;
    left: 0px;
    transform-origin: top;
    transition: 0.6s ease;

}

#dividastotais {
    background-color: #FCC17A;
    z-index: 2;
    position: relative;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0%;
    border-bottom: 1px solid #FFFFFF;
    box-sizing: border-box;

}

#dividastotais:active {
    background-color: #f8b563;
}


#dividastotaisSTR {
    position: relative;
    width: 40%;
    height: 50%;
    top: -28%;
    left: 20%;

    font-family: "Suisse Int'l Condensed L";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}

/*anim*/
#menu {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    transition: 0.6s ease;
}


#Interno {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0%;

    background: #F08A6E;
    border-bottom: 1px solid #FFFFFF;
    box-sizing: border-box;
}

#InternoSTR {
    position: relative;
    width: 40%;
    height: 50%;
    top: 24%;
    left: 20%;

    font-family: "Suisse Int'l Condensed L";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}

#Inovacao {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0%;

    background: #F08A6E;
    border-bottom: 1px solid #FFFFFF;
    box-sizing: border-box;
}

#InovacaoSTR {
    position: relative;
    width: 40%;
    height: 50%;
    top: 24%;
    left: 20%;

    font-family: "Suisse Int'l Condensed L";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}

#Tech {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0%;

    background: #F08A6E;
    border-bottom: 1px solid #FFFFFF;
    box-sizing: border-box;
}

#TechSTR {
    position: relative;
    width: 40%;
    height: 50%;
    top: 24%;
    left: 20%;

    font-family: "Suisse Int'l Condensed L";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}

/* para remover de todos os Links*/
a {
    text-decoration: none;
}
