.signuppage {
  width: 100%;
  height: 100%;
  overflow: hidden;
}



.titlesg,
.titlesg2 {
  font-family: fonteTitulo;
  text-align: center;
}

.titlesg {
  margin-top: 7vh;
  margin-bottom: 1vh;
  letter-spacing: 0.01em;

  color: #f08a6e;

  /* sombra suave */

  text-shadow: 1px 4px 15px rgba(0, 0, 0, 0.08);
}

.titlesg2 {
  margin-bottom: 2vh;
  letter-spacing: 0.01em;
  margin-top: 0vh;
  color: #3e3c39;

  /* sombra base */

  text-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
}

.name-lastname {
  display: flex;
  margin-bottom: 4vh;
}

.name-lastname-name {
  width: 100%;
  left: -0%;
}
.name-lastname-lastname {
  margin-left: 4vw;
  width: 100%;
}
.name-lastname-name label {
  margin-left: 0%;
}

.name-lastname-lastname label {
  margin-left: 0%;
}

.name-lastname-name label {
  position: relative;
  font-family: fonteLabel;
  font-weight: 550;
  font-size: 2.1vh;
  display: flex;
  outline: none;
  color: #3e3c39;
  left: 40%;
  height: 3.5vh;
  width: 70%;
}
.name-lastname-lastname label {
  position: relative;
  font-family: fonteLabel;
  font-weight: 550;
  font-size: 2.1vh;
  display: flex;
  outline: none;
  color: #3e3c39;
  left: 8%;
  height: 3.5vh;
  width: 70%;
}
.name-lastname-name input {
  margin-left: 30%;
  -webkit-appearance: none;
}

.name-lastname-name input {
  position: relative;
  width: 60%;
  height: 4vh;
  padding-left: 4vw;
  font-size: 2vh;
  letter-spacing: 0.01em;
  background: #ffffff;
  outline: none;
  min-height: 29px;

  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  border: #ffffff;
  color: #aeadaa;
}

.name-lastname-lastname input {
  -webkit-appearance: none;
  position: relative;
  width: 60%;
  height: 4vh;
  padding-left: 4vw;
  font-size: 2vh;
  letter-spacing: 0.01em;
  background: #ffffff;
  outline: none;
  min-height: 29px;
  left: 0%;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  border: #ffffff;
  color: #aeadaa;
}

.email1,
.password1,
.password2,
.department {
  width: 100%;
}

.inputs-signup {
  margin-bottom: 0vh;
}

.error_signup {
  top: 0;
  margin-top: 0rem;
  color: #f08a6e;
  text-align: center;
  height: 0.8rem;
}

@media (min-width: 961px) {
  .error_signup {
    top: 0;
    margin-top: -4.5rem;
    color: #f08a6e;
    text-align: center;
    height: 0.4rem;
  }

  .signupside {
    width: 50%;
    margin-left: 50vw;
  }

  .name-lastname-name label {
    margin-left: 0vw;
  }

  .name-lastname-name input {
    margin-left: 20%;
  }

  .name-lastname-lastname input {
    margin-left: -2vw;
  }

  .name-lastname-name input {
    width: 58%;
    height: 6vh;
    margin-left: 30%;
    padding-left: 1.6vw;
  }

  .name-lastname-lastname input {
    width: 58%;
    height: 6vh;
    margin-left: -15%;
    padding-left: 1.6vw;
  }

  .name-lastname-lastname label {
    margin-left: -3vw;
  }

  .email1,
  .password1,
  .password2,
  .department {
    margin-bottom: 4vh;
    align-items: center;
  }

  .inputs-signup {
    margin-left: 4vw;
  }

  .department {
    height: 15vh;
  }
}
