@font-face {
  font-family: fonteTitulo;
  src: url(../font/SuisseIntlCond-Medium-WebS.woff);
}

@font-face {
  font-family: fonteLabel;
  src: url(../font/SuisseIntlCond-Semibold-WebS.woff);
}
@font-face {
  font-family: fontenormal;
  src: url(../font/SuisseIntlCond-Thin-WebS.woff);
}

.loginpage {
  width: 100%;
  height: 100%;
}

.titlesg,
.titlesg2 {
  font-family: fonteTitulo;
  text-align: center;
}

.titlesg {
  margin-top: 7vh;
  margin-bottom: 1vh;
  letter-spacing: 0.01em;

  color: #f08a6e;

  /* sombra suave */

  text-shadow: 1px 4px 15px rgba(0, 0, 0, 0.08);
}

.titlesg2 {
  margin-bottom: 2vh;
  letter-spacing: 0.01em;
  margin-top: 0vh;
  color: #3e3c39;

  /* sombra base */

  text-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
}

.name-lastname {
  display: flex;
  margin-bottom: 4vh;
}

.name-lastname-name {
  width: 100%;
}

.name-lastname-name label {
  position: relative;
  font-family: fonteLabel;
  font-weight: 550;
  font-size: 2.1vh;
  display: flex;
  outline: none;
  color: #3E3C39;

  margin-left: 35%;
  height: 3.5vh;
  width: 70%;
}

.name-lastname-name input {
  position: relative;
  width: 60%;
  height: 4vh;
  margin-left: 30%;
  padding-left: 4vw;
  font-size: 2vh;
  letter-spacing: 0.01em;
  background: #FFFFFF;
  outline: none;

  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  border: #FFFFFF;
  color: #AEADAA;
}

.name-lastname-lastname {
  margin-left: 4vw;
  width: 100%;
}

.name-lastname-lastname label {
  position: relative;
  font-family: fonteLabel;
  font-weight: 550;
  font-size: 2.1vh;
  display: flex;
  outline: none;
  color: #3E3C39;

  margin-left: 3vw;
  height: 3.5vh;
  width: 70%;
}

.name-lastname-lastname input {
  position: relative;
  width: 60%;
  height: 4vh;
  padding-left: 4vw;
  font-size: 2vh;
  letter-spacing: 0.01em;
  background: #FFFFFF;
  outline: none;

  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  border: #FFFFFF;
  color: #AEADAA;
}

.email,
.password1,
.password2,
.department {
  width: 100%;
  margin-bottom: 4vh;
}

.inputs-signup {
  margin-bottom: 5vh;
}
