#bg {
    position: relative;
    top: 0;
    height: 18%;
    width: 100%;
}

.Hamburguer {
    position: relative;
    left: 10%;
    top: 30%;
}

.App-logo {
    position: relative;
    left: 20%;
    top: 40%;
    height: 40%;
    width: 40%;
}

